.main-container {
  display: flex;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(28, 29, 31);
  width: 80%;
}

.aside-content {
  display: flex;
  justify-content: start;
  background-color: rgb(56, 55, 55);
  flex-direction: column;
  width: 20%;
}

/* Styling Aside Content */
.card-container {
  background-color: whitesmoke;
  border: 1px solid rgb(56, 55, 55);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  margin-top: 20px;
}

.card-container a {
  color: rgb(28, 29, 31);
}

.card-container a:hover {
  color: rgb(212, 146, 89);
  text-decoration: underline;
}

.card-container ul {
  list-style-type: square;
  padding: 15px;
}

.main-content .card-container a {
  color: rgb(212, 146, 89);
}

.blog-post-heading {
  color: rgb(212, 146, 89);
}

.blog-image {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.blog-post-info {
  padding: 10px;
  padding-left: 0px;
}

.blog-post-image {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  margin-right: 20px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media all and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main-content {
    width: 100%;
  }

  .aside-content {
    width: 100%;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog-post-image {
    margin-bottom: 10px;
    width: 100%;
    margin-right: 0px;
  }
}

@media all and (min-width: 770px) and (max-width: 880px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main-content {
    width: 100%;
  }

  .aside-content {
    width: 100%;
  }
}
